body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    overflow: auto;
}

.scores {
    color: white;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    padding: 32px 100px;
}

.player-score,
.comp-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}

label {
    font-weight: bold;
}